---
import '../styles/global.css';
import Header from '../components/header.astro';'../components/navbar.astro'
import Footer from '../components/footer.astro';'../components/footer.astro'
---



<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>aslfjsdflksdjl;fasdj;flasd</title>
  </head>
  <body>
    <Header />
    <div class = content>
    <h1>test</h1>
    </div>
    <Footer/>
  </body>
  
  
</html>
