---
let year = new Date().getFullYear();
---
<head>
    <style>
        p {
            color: #ff6464;
            font-size: smaller;
        }
        footer{
            text-align: center;
        }
    </style>
</head>
<footer>
    <p>az {year}</p>
</footer>