---
import Navbar from './navbar.astro';
---
<head>
    <style>
        header{
        width: 100%;
        max-width: 100ch; 
        margin: 0 auto;
        }

        nav {
            display: flex;
        }

    </style>
</head>

<header>
    <nav>
        <p>hi</p>
        <Navbar />
    </nav>
</header>